/* .main{
    display: grid;
    grid-template-columns:1fr 1fr 1fr; 
     gap: 1rem 1rem; 
     justify-content: center;
    margin:2rem 10px;
    justify-items: center;
   } */
   .main{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1rem;
    justify-content:flex-start ;
    padding: 0rem 2rem;
    

   }