.inner{
    border: 1px solid rgba(128, 128, 128, 0.211);
    background-color: white;
    width: 300px;
    box-shadow: 3px 3px 2px #88888869;
margin: 2rem 0.5rem;
transition: transform .3s;
align-self: center;

}
.inner:hover{
    transform: scale(1.05);


}

.cardImage{
    /* height: 140px; */
    width: 300px;
    
}

.dateHeading{
    opacity: 0.7;
    margin: 0.25rem 0rem;
    font-size: small;
}
.details{
    padding: 0.5rem 1rem;
}
.projectName{
    /* font-size: larger;
    padding-bottom: 0.15rem; */
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    line-height: normal;
    margin: 0.15rem 0rem;

}
.projectDetails{
    opacity: 0.7;
    font-size: small;
    line-height: 1.2;
    margin: 0.25rem 0rem;
}
.readMoreButton{
    font-size: smaller;
    margin: 0.25rem 0rem;
    padding:0.25rem 0.5rem ;
    border: none;
    color: blue;
    background-color: white;


}
.readMoreButton:hover{
  cursor: pointer;
  transform: scale();}
.hr{
    border: none;
    height: 0.5px;

    background-color:rgba(128, 128, 128, 0.575);   
  }
  .author{
    opacity: 0.8;
 
   
    margin: 0.5rem 0rem;
    letter-spacing: 1px;
  }
  
 
