#main{
    display: grid;
    grid-template-columns: 120px 1.8fr 1.2fr 120px;
    grid-template-rows: auto;
    row-gap: 1rem;
    column-gap: 2.5rem;
    margin-bottom: 1rem;
}
#carousel{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#mostLiked{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.horizontalLine{
    margin: 10px ;
    opacity: 0.5;
 
}
#main2{
    margin:10px 25px
}